node_modules
.next
.DS_Store
static/graphics/.DS_Store
static/screenshots/.DS_Store
static/graphics/.DS_Store
static/.DS_Store
.env
static/.DS_Store
static/.DS_Store
static/screenshots/.DS_Store
static/screenshots/large/.DS_Store
