@font-face {
    font-family: 'ITC Fenice Std';
    src: url('FeniceStd-Oblique.eot');
    src: local('FeniceStd-Oblique'),
        url('FeniceStd-Oblique.eot?#iefix') format('embedded-opentype'),
        url('FeniceStd-Oblique.woff2') format('woff2'),
        url('FeniceStd-Oblique.woff') format('woff'),
        url('FeniceStd-Oblique.ttf') format('truetype'),
        url('FeniceStd-Oblique.svg#FeniceStd-Oblique') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Ropa Sans';
    src: url('RopaSans-Italic.eot');
    src: local('Ropa Sans Italic'), local('RopaSans-Italic'),
        url('RopaSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('RopaSans-Italic.woff2') format('woff2'),
        url('RopaSans-Italic.woff') format('woff'),
        url('RopaSans-Italic.ttf') format('truetype'),
        url('RopaSans-Italic.svg#RopaSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bangers';
    src: url('Bangers-Regular.eot');
    src: local('Bangers Regular'), local('Bangers-Regular'),
        url('Bangers-Regular.eot?#iefix') format('embedded-opentype'),
        url('Bangers-Regular.woff2') format('woff2'),
        url('Bangers-Regular.woff') format('woff'),
        url('Bangers-Regular.ttf') format('truetype'),
        url('Bangers-Regular.svg#Bangers-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ropa Sans';
    src: url('RopaSans-Regular.eot');
    src: local('Ropa Sans Regular'), local('RopaSans-Regular'),
        url('RopaSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('RopaSans-Regular.woff2') format('woff2'),
        url('RopaSans-Regular.woff') format('woff'),
        url('RopaSans-Regular.ttf') format('truetype'),
        url('RopaSans-Regular.svg#RopaSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lalezar';
    src: url('Lalezar-Regular.eot');
    src: local('Lalezar-Regular'),
        url('Lalezar-Regular.eot?#iefix') format('embedded-opentype'),
        url('Lalezar-Regular.woff2') format('woff2'),
        url('Lalezar-Regular.woff') format('woff'),
        url('Lalezar-Regular.ttf') format('truetype'),
        url('Lalezar-Regular.svg#Lalezar-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

